main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
h1{
  margin-bottom: 1rem;
  color: #00C853;
}
.part{
  margin-left: 0.5rem;
}

fieldset{
  border: solid 1px #ffffFF;
  padding-top: 1rem;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

legend{
  text-align: center;
  width: 150px;
  color: #007BFF;
}

label{
  color: #007BFF;
  margin-right: 0.5rem;
}

form{
  border-radius: 5px;
  padding-top: 1rem;
 background-color: #EFEFEF;
  height: 580px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

input{
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  font-size: 16px;  
  font-family: monospace;
}
.radios{
  cursor: pointer;
}

button{
  background:#00C853;
  width: 140px;
  height: 40px;
  cursor: pointer;
  color: #ffffFF;
  border: none;
  border-radius: 5px;

}

button:hover{
  background:#5cf19b;
  color:#00C853;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 
}

@media (prefers-reduced-motion) {
 
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
